{% extends "livechat/layout.html" %}

{% block content %}
    <div id="agent-presentation">
        <img src="{{ url_for('static', filename='images/concierge.png') }}" alt="avatar"/>
        <h4>James Bond</h4>
        <span>Ask me anything</span>
    </div>
    <div id="chat-panel">
        <div class="bubble me">
            <img src="{{ url_for('static', filename='images/anonymous.png') }}" alt="avatar" class="avatar"/>
            <div class="text">
                {% for message in previous_messages %}
                    <p>{{ message['body'] }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="bubble">
            <img src="{{ url_for('static', filename='images/concierge.png') }}" alt="avatar" class="avatar"/>
            <div class="text">
                <p>Mon super message de la mort ! En en plus super long...</p>
                <p>Mon super message de la mort ! En en plus super long...</p>
            </div>
        </div>
        <div class="notification">Jame Bond joined the chat</div>
        <div class="bubble me">
            <img src="{{ url_for('static', filename='images/anonymous.png') }}" alt="avatar" class="avatar"/>
            <div class="text">
                <p>Mon super message de la mort ! En en plus super long...</p>
                <p>Mon super message de la mort ! En en plus super long...</p>
            </div>
        </div>
        <div class="bubble">
            <img src="{{ url_for('static', filename='images/concierge.png') }}" alt="avatar" class="avatar"/>
            <div class="text">
                <p>Mon super message de la mort !</p>
            </div>
        </div>
        <div class="bubble me">
            <img src="{{ url_for('static', filename='images/anonymous.png') }}" alt="avatar" class="avatar"/>
            <div class="text">
                <p>Mon super message de la mort ! En en plus super long...</p>
                <p>Mon super message de la mort ! En en plus super long...</p>
                <p>Mon super message de la mort ! En en plus super long...</p>
            </div>
        </div>
    </div>
    <div id="chat-textarea">
        <textarea placeholder="Type your message here"></textarea>
    </div>
{% endblock %}

{% block menu %}
    <div class="menu">Options</div> - {{ current_user.email }}
{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="http://js.pusher.com/2.2/pusher.min.js"></script>
    <script type="application/javascript">
        (function () {
            // Enable pusher logging - don't include this in production
            Pusher.log = function(message) {
                if (window.console && window.console.log) {
                    window.console.log(message);
                }
            };

            var pusher = new Pusher('2d0a46ebffcf7a4f3eb0');
            var presenceWaitingQueueChannel = pusher.subscribe('presence-waiting-queue');
        })();
    </script>
{% endblock %}