<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kokua chat</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/chat.css')}}"/>
</head>

<body>
    <div id="header">
        <div class="title">Live 24/5</div>
    </div>
    <div id="container">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">kokua</div>
</body>

</html>