{% extends "livechat/layout.html" %}

{% block content %}
<div id="container">
    <form method="post" action="{{ url_for('livechat.login') }}">
        {{ form.csrf_token }}
        {{ form.js_id() }}
        <label class="{{ 'error' if form.email.errors else ''}}">{{ form.email.label.text }} *</label>
        {{ form.email(placeholder='Email', class='error' if form.email.errors else '') }}
        <label class="{{ 'error' if form.message.errors else ''}}">{{ form.message.label.text }} *</label>
        {{ form.message(class='error' if form.message.errors else '') }}
        <input type="submit" value="Start Chatting"/>
    </form>
</div>
{% endblock %}